// Form controls styles goes here
#globalSearch {
    height: 40px;
    width: 0;
    transition: all .6s;
    
    &:focus {
        outline: none;
        width: 600px;
    }
}

.loginInput {
    height: 56px;
    outline: none;
}